@use '../abstract' as a;

h1, h2, h3, h4,
h5, h6, p, a {
  font-family: 'Epilogue', sans-serif;
  color: var(--clr-primary-color-dark-blue);
}

h1 {
  font-size: 2.375rem;
  font-weight: 400;
  letter-spacing: -0.0625rem;

  @include a.breakpoint(medium) {
    font-size: 3.5rem;
  }

  @include a.breakpoint(large) {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02606rem;
  
  @include a.breakpoint(large) {
    font-size: 3rem;
  }
}

p {
  line-height: 1.75;
  letter-spacing: 0.00563rem;
  color: var(--clr-primary-color-grey);
  
  @include a.breakpoint(medium) {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}