@use '../abstract' as a;

.button {
  display: inline-block;
  border-radius: 0.30rem;
  
  &--small {
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: -0.00875rem;
    line-height: 1.5rem;
    
    @include a.breakpoint(medium) {
      padding: 1rem 2rem;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: -0.01125rem;
      line-height: 1.5rem;
    }
  }

  &--large {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.01125rem;
    line-height: 1.5rem;
  }
  
  &--transparent {
    color: var(--clr-primary-color-dark-blue);
    border: 2px solid var(--clr-primary-color-dark-blue);
    
    &:hover {
      color: var(--clr-primary-color-cream-white);
      background-color: var(--clr-primary-color-dark-blue);
    }
  }

  &--dark-blue {
    color: var(--clr-white);
    background-color: var(--clr-primary-color-dark-blue);
    border: 2px solid var(--clr-primary-color-dark-blue);

    &:hover {
      color: var(--clr-primary-color-cream-white);
      background: linear-gradient(135deg, var(--clr-primary-color-purple) 0%, var(--clr-primary-color-pink) 49.21%, var(--clr-primary-color-orange) 100%);
      border: 2px solid;
    }
  }
}